<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{% if description %}{{ description }}{% else %}Eleventy + Tailwind Starter{% endif %}"
    />
    <title>A11yoop - accessibility tips</title>
    <link href="/assets/output.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/" class="text-3xl font-black mr-4 no-underline">A11yoop</a>
      </h1>
      <p>Serving up accessibility tips written in plain English</p>
    </header>
    <div class="flex flex-col sm:grid sm:grid-cols-4">
      {% include "sidebar.html" %}

      <main class="col-span-3">
        {{ content }}

        <img src="https://placehold.co/300x400/DB7092/31343C" alt="" />
      </main>
      {% include "footer.html" %}
    </div>

    <!-- <header class="bg-slate-100 py-2">
      <h1 class="text-3xl font-black flex">A11yoop</h1>
      <p>Serving up accessibility tips written in plain English</p>
    </header>
    <h2 class="text-lg font-bold">Pages</h2>
    <ul class="mb-4">
      <li><a href="/sample-page/">Sample Page</a></li>
    </ul>

    <h2 class="text-lg font-bold">Posts</h2>
    <ul>
      {% for post in collections.post %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {{ content }} -->
  </body>
</html>
