<footer class="col-span-4 flex items-center gap-4 flex-col med:flex-row">
  <a href="/" class="my-0">{{ PROJECT_NAME }}</a>
  <a
    href="https://github.com/caseyocampo/a11y-oop/blob/main/{{ page.inputPath }}"
    target="_blank"
    class="text-stone-100 my-0"
    >Edit this page on GitHub&nbsp;<span
      class="text-stone-100 my-0"
      aria-label="- opens in a new tab"
      >↗</span
    ></a
  >
  <p class="text-stone-100 my-0">
    Powered by&nbsp;<a href="https://www.11ty.dev/" target="_blank"
      >11ty.dev
      <span class="text-stone-100 my-0" aria-label="- opens in a new tab"
        >↗</span
      ></a
    >
  </p>
  <p class="text-stone-100 my-0">
    Made with determination by&nbsp;
    <a href="https://www.linkedin.com/in/caseyocampo/">Casey Ocampo</a>
  </p>
</footer>
<script src="/assets/js/sidebar.js"></script>
</body>
</html>
