<aside class="col-span-1">
  <h2>Table of Contents</h2>
  <div class="flex flex-col">
    <details>
      <summary>A11yoop Project</summary>
      <ul>
        {% for page in collections.main %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </details>
    <details id="basic-details" open>
      <summary>Basic Accessibility Tips</summary>
      <ul>
        {% for page in collections.basic %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </details>
    <details id="advanced-details" open>
      <summary>Advanced Accessibility Tips</summary>
      <ul>
        {% for page in collections.advanced %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </details>
    <a
      class="rounded-md border border-rose-700 bg-rose-300 p-4 my-4 text-center hover:bg-rose-400"
      href="/"
    >
      Donate
    </a>
  </div>
</aside>
