<aside class="scroll col-span-1 static med:sticky">
  <h2>Table of Contents</h2>
  <div class="flex flex-col">
    <details>
      <summary>{{ PROJECT_NAME }} Project</summary>
      <ul>
        {% for page in collections.main %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </details>
    <details id="basic-details" open>
      <summary>Basic Accessibility Tips</summary>
      <ul>
        {% for page in collections.basic %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </details>
    <details id="advanced-details" open>
      <summary>Advanced Accessibility Tips</summary>
      <ul>
        {% for page in collections.advanced %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </details>
    <a
      class="rounded-md border border-blue-950 bg-blue-800 text-blue-50 py-2 px-4 my-4 text-center font-bold hover:bg-blue-700 hover:text-blue-50"
      href="/"
    >
      Donate
    </a>
  </div>
</aside>
