@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: system-ui, "Arial", sans-serif;
}

body {
  /* background: #eee; */
}

h1 {
  @apply text-4xl py-4 font-bold;
}

h2 {
  @apply text-2xl py-4 font-bold;
}

p,
li,
a,
span,
summary {
  @apply text-lg my-4;
}

a {
  @apply underline;
}

header {
  align-items: center;
  display: flex;
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

aside {
  background: #eee;
  border-right: 1px solid #ccc;
  padding: 1em;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
  top: 0;
}

main {
  background: #eee;
  padding: 1em;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin: 0.5em 0;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
}

ul {
  margin: 1em 0;
  margin-left: 1em;
}

ul li {
  margin: 0.5em 0;
}

footer {
  background: #333;
  border-top: 1px solid #ccc;
  padding: 1em;
  grid-column: span 2;
}

footer a {
  color: white;
}

img {
  display: block;
  margin: 1em 0;
}

.scroll {
  scrollbar-color: #333 #eee;
}
